.\.vs\
.\ChessEngine.sln
.\ChessEngine.vcxproj
.\ChessEngine.vcxproj.filters
.\ChessEngine.vcxproj.user
.\sfml-audio-d-2.dll
.\sfml-graphics-d-2.dll
.\sfml-network-d-2.dll
.\sfml-system-d-2.dll
.\sfml-window-d-2.dll
.\x64\